body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #867E7C;
}

.container img.robot {
    position: absolute;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.container img.hearth {
    position: absolute;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.container .credits {
    position: absolute;
}

.container .title {
    font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    bottom: 7%;
    text-align: center;
    font-family: 'Aldrich';
    color: #3E3E3E;
    transition: 1000ms all;
}

.beat {
    animation: heartbeat2 2.5s infinite;
}

.container .title:hover {
    cursor: pointer;
    color: #000;
    transform: scale(1.2);
}

@keyframes heartbeat2 {
    0% {
        transform: scale( 1.0);
        color: #3E3E3E;
    }
    90% {
        transform: scale( 1.0);
        color: #3E3E3E;
    }
    95% {
        transform: scale( 1.1);
        color: #420E04;
    }
    100% {
        transform: scale( 1.0);
        color: #3E3E3E;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale( .98);
        color: #3E3E3E;
    }
    20% {
        transform: scale( 1);
        color: #420E04;
    }
    40% {
        transform: scale( .98);
        color: #3E3E3E;
    }
    60% {
        transform: scale( 1);
        color: #420E04;
    }
    80% {
        transform: scale( .98);
        color: #3E3E3E;
    }
    100% {
        transform: scale( .98);
        color: #3E3E3E;
    }
}